.grid-principal{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: auto;
    height: 200px;
    border: 2px solid black;
    margin: 1px;
    
}
.grid{
    background-color: rgb(75, 74, 74);
    margin: 10px;
}
